sudo: false

language: python

python:
  - 3.4
  - 3.5

services: rabbitmq

install:
  - pip install -r requirements.txt
  - python setup.py develop

script:
  - flake8 src test --ignore=E501,W503
  - coverage run --source=src -m contexts -v
  - pushd doc && make html && popd

after_success:
  coveralls

deploy:
  provider: pypi
  user: benjamin.hodgson
  password:
    secure: "bJA9NXYhqDgKiMX71YzU3Bq39NgfEi7R7cUoORs73/11ofJzvrFUsnmvw+n90FHru3b1AwZgOxHnlEOPZpQhgKol6BCBgv0HUscjA00dttXs7TO53/c8gqUIkhwlyEbn6+5++kEBTrrVZWjHrTfK6dWKbFA4LspTewvt4p8I9rQ="
  on:
    tags: true
    all_branches: true
  distributions: "sdist bdist_wheel bdist_egg"
